@import './../../variables.scss';

.Header {
  display: block;

  height: $header-height;
  top: 0;
  left: 0;
  right: 0;

  text-align: center;

  p {
    margin: 0;
  }

  &-version {
    font-size: 8px;
  }
}