
// header
$header-height: 40px;
$header-padding-top: 10px;
$header-padding-bottom: $header-padding-top;

// footer
$footer-height: 20px;

// core sizes
$core-side-padding: 15px;
$core-padding: 40px $core-side-padding 0 $core-side-padding;

// colours
$c-background-dark: #36383C;
$c-text-colour-main: rgb(207, 207, 207);
$c-vd-blue: #007fa9;
$c-accent: #f0ec68;