
// header
$header-height: 40px;
$header-padding-top: 10px;
$header-padding-bottom: $header-padding-top;

// core sizes
$core-padding: 40px 15px 0 15px;

// colours
$c-text-colour-main: #3d3d3d;
$c-vd-blue: #007fa9;