// core sizes
$core-padding: 0 15px 0 15px;

// header
$header-height: 30px;
$header-padding-top: 5px;
$header-padding-bottom: $header-padding-top;


// colours
$c-text-colour-main: #3d3d3d;
$c-vd-blue: #007fa9;